<form #heroForm="ngForm" (ngSubmit)="onClickSubmit(heroForm)">
  <div class="form-group">
    <label>Name</label>
    <input type="text"
           name="name"
           [(ngModel)]=hero.name
           #name="ngModel"
           required
           appAlexForbidden
    >
    <div *ngIf="name.invalid && !name.pristine && !name.errors?.forbiddenName">
      please, enter you name here!
    </div>

    <div *ngIf="name.errors?.forbiddenName">
      alex is forbidden!
    </div>

  </div>

  <div class="form-group">
    <label>Age</label>
    <input type="number"
           >
  </div>

  <div class="form-group">
    <label>Hero Power</label>
    <select>
      <option *ngFor="let pow of powerService.powers | async" [value]="pow">{{pow}}</option>
    </select>
  </div>

  <button class="form-group" type="submit" >Submit</button>
</form>

