<form [formGroup]="heroForm" (ngSubmit)="onClickSubmit()">
  <div class="form-group">
    <label>Name</label>
    <input type="text"
           formControlName="name"
    >
    <div *ngIf="heroForm.get('name').invalid && !heroForm.get('name').pristine">
      please, enter you name here!
    </div>
  </div>

  <div class="form-group">
    <label>Age</label>
    <input type="number"
           formControlName="age"
    >
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="text"
           formControlName="email"
    >
  </div>

  <div class="form-group">
    <label>Phone</label>
    <input type="text"
           formControlName="phone"
    >
  </div>

  <div class="form-group">
    <label>
      <input type="radio"
             value="email"
             formControlName="notification"
             (click)="onRadioButtonClick('email')"
      >
      Email
    </label>
    <label>
      <input type="radio"
             value="phone"
             formControlName="notification"
             (click)="onRadioButtonClick('phone')"
      >
      Phone
    </label>
  </div>

  <button class="form-group" type="submit" >Submit</button>
</form>

<br>Dirty: {{heroForm.dirty}}
<br>Touched: {{heroForm.touched}}
<br>Valid: {{heroForm.valid}}
<br>Value: {{heroForm.value | json}}
